/* content */
.content{
    margin-left: 30px;
    margin-top: 85px;
   
}
.button{
    margin: 30px 0;
}

.pagination {
    padding-top: 10px;
}
.page-link {
    color: black;
}
.pagination a {
    color: black;
}